{% extends "base.html" %}
{% block content %}
<h1 class="mt-5">ログイン</h1>
<form class="mt-5" method="POST">
    {% for error_message in form.non_field_errors %}
    <div class="text-danger">{{ error_message }}</div>
    {% endfor %}
    <div class="form-group col-md-6">
        <div class="form-group col-md-6">
            <label for="input_username">ユーザー名</label>
            <input type="text" name="username" value="{{ form.username.value|default:"" }}" class="form-control"
                id="input_username">
            {% for error_message in form.username.errors %}
            <div class="text-danger">{{ error_message }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group col-md-6">
        <div class="form-group col-md-6">
            <label for="input_password">パスワード</label>
            <input type="password" name="password" class="form-control" id="input_password">
            {% for error_message in form.password.errors %}
            <div class="text-danger">{{ error_message }}</div>
            {% endfor %}
        </div>
    </div>
    {% csrf_token %}
    <div class="form-group col-md-6 mt-5">
        <button type="submit" class="btn btn-info">送信</button>
    </div>
</form>
<div class="row mt-5"><a href="{% url "cverooster_app:signup" %}">新規会員登録はこちら</a></div>
</div>
{% endblock %}